@page
@model IndexModel
@{
    ViewData["Title"] = "Record your inspirations";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <h3 class="display-4">Jotte.</h3>
    <h6><a href="https://www.churchofjesuschrist.org/study/scriptures?lang=eng">Study Online</a>   <a href="Jottes/Create">Record Inspirations!</a></h6>
</div>
